
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* Nav Styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-family: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;

}

/*shared style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}